<h1> Browse </h1>

<% @listing.each do |listing| %>

<div>
<%= image_tag listing.picture if listing.picture.attached? %>
<%= listing.title %>
$<%= listing.price %>

<%= link_to "view", listing_path(listing) %>
<%= link_to "Edit", edit_listing_path(listing.id) if current_user.id == listing.user_id %>
<%= link_to "Delete", listing_path(listing.id), method: :delete if current_user.id == listing.user_id  %>
</div>
<% end %>