           <h3> My Listings:</h3>
            <%= link_to "New listing", new_listing_path %>

<div class="sections">

    <% @user_listing.each do |listing| %>

            <div class="listing">
                <div class="BrowseImage">
                    <%= image_tag listing.picture if listing.picture.attached? %>
                </div>
                <div class="input">
                <ul>
                    <li><%= listing.title %></li>
                    <li>$<%= listing.price %></li>
                    </ul>
                </div>
                    <%= link_to "View", listing_path(listing) %>
                    <%= link_to "Edit", edit_listing_path(listing.id) if current_user.id == listing.seller_id %>
                    <%= link_to "Delete", listing_path(listing.id), method: :delete, data: {confirm: "Are you sure?"} if current_user.id == listing.seller_id %>
            </div>
    <% end %>
</div<>